<hr>
<ol *ngFor="let day of weekdays; let i = index;">
    <!-- ngFor is directive equivalent to forEach loop -->
    <!-- day is a run time variable -->
    <li value={{i}}>{{day}}</li>
</ol>

<hr>

<ng-container *ngIf="age > 30; else elseTemplate;">
    <h4>Suitable for marriage</h4>
</ng-container>
<ng-template #elseTemplate>
    <h4>Not suitable for marriage</h4>
</ng-template>

<hr>

<ol *ngFor="let item of weekdays; let i = index;">
    <ng-container *ngIf="i%2 == 0; else elseTemplate2">
        <li value={{i}} style="color: blue;">{{item}}</li>
    </ng-container>
    <ng-template #elseTemplate2>
        <li value={{i}} style="color: red;">{{item}}</li>
    </ng-template>
</ol>

<hr>
<!-- <p>{{GetTotal()}}</p> -->
<h2>Emplyee Listing</h2>
<hr>
<table>
    <thead>
        <td>Sno</td>
        <td>Id</td>
        <td>Name</td>
        <td>Salary</td>
        <td>Department</td>
    </thead>
    <tbody *ngFor="let emp of EmpArr; let i = index">
        <tr>
            <td>{{i}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.dept}}</td>
        </tr>
    </tbody>
</table>